:root {
  --primary-color: #2600b1;
  --secondary-color: #2b7ecc;

  --primary-text: #000;
  --secondary-text: #b9a7ca;
  --background: #fff;
  --primary-background: linear-gradient(#2600b1, #2b7ecc);
  --component-background: linear-gradient(#fff, #fff);

  --secondary-background: #fff;
  --form-background: #dfdfdf;
  --btn-background: #fff;
  --light-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.4);
}

:root.dark {
  --primary-color: #2600b1;
  --secondary-color: #632bcc;

  --primary-text: #fff;
  --secondary-text: #52445f;
  --background: #000000;
  --primary-background: linear-gradient(#2600b1, #632bcc);
  --component-background: linear-gradient(#150027, black);

  --secondary-background: #150027;
  --form-background: #150027;
  --btn-background: #fff;
  --light-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--primary-text);
  background: var(--background);
  width: 100vw;
  text-align: center;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background: var(--component-background);
}
.login-container,
.signup-container,
.profile-container {
  background: var(--component-background);
}

.btn {
  font-size: 1.1rem;
  letter-spacing: 1px;
  min-width: 100px;
  max-width: 150px;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--primary-color);
  background: var(--btn-background);
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background: var(--primary-color);
}
